#topArt{
    background-color:rgb(2, 2, 68);
    color:#ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#topResults{
border-color: solid rgb(2,2,68);
}
.navbar-brand {
    margin-right: 10px;
}

#title-ny {
    margin-bottom: 15px;
    background-color: blueviolet !important;
    color: bisque;
    text-align: center;
}

hide{
    display: none !important;
}
