#topArt{
    background-color:rgb(2, 2, 68);
    color:#ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#topResults{
border-color: solid rgb(2,2,68);
}
.navbar-brand {
    margin-right: 10px;
}

#title-ny {
    background-color:rgb(2, 2, 68);
    color:#ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

hide{
    display: none !important;
}
